# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Local environment variables
.env
